<nav>
  <!-- <button class="button btn-primary" style="float: right;margin-right: 20%;">
    <a routerLink="/create"style=" color: white;">Create</a> 
  </button> -->
</nav>
<br />
<br />
<br />
<table border="1" class="table table-hover"style="width: 80%;margin-left: 10%;
/* margin-right: 10%;">
  <thead>
  <tr>
      <td>Person Name</td>
      <td>Email</td>
      <td>StaffId</td>
      <td>contact</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.staffId }}</td>
          <td>{{user.contactNo}}</td>
          <td><button (click)="editUser(user)"class="btn btn-primary">Edit</button>
            <button (click)="deleteUser(user)"class="btn btn-danger">Delete</button></td>
         
      </tr>
  </tbody>
</table>
