
  <!-- <button class="button btn-primary" style="margin-left: 70%;"(click)="goBack()">
    Go to All Users
  </button> -->
  <br /><br />
<div class="card">

  <div class="card-body">

   
    <!-- <button class="btn btn-primary" >Go to All Users</button> -->
    <form [formGroup]="angForm" novalidate>
      <div class="panel panel-primary" style="margin-left: 10%;
      margin-right: 10%;">
        
        <div class="panel-heading">
           <h4>Add User</h4>
        </div>
        <div class="panel panel-body">
         <div class="form-group row" [ngClass]="{'has-error' : angForm.get('person_name').errors &&
         (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)}">
           <label class="col-sm-2 control-label">Full Name</label>
           <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="person_name" required #person_name />
              <span class="help-block" *ngIf="angForm.get('person_name').errors &&
              (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)">
              <span *ngIf="angForm.controls['person_name'].errors.required">
                  Person Name is required.
              </span>
            </span>
           </div>
         </div>

         <div class="form-group row" [ngClass]="{'has-error' : angForm.get('person_email').errors &&
         (angForm.controls['person_email'].dirty || angForm.controls['person_email'].touched)}">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
               <input type="text" class="form-control" formControlName="person_email" required [pattern]="emailPattern" #person_email />
               <span class="help-block" *ngIf="angForm.get('person_email').errors &&
               (angForm.controls['person_email'].dirty || angForm.controls['person_email'].touched)">
              <span *ngIf="angForm.controls['person_email'].errors.required">
                  Email is required.
              </span>
              <span *ngIf="angForm.controls['person_email'].errors.pattern">
                  Enter Valid Email Address.
              </span>
            </span>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error' : angForm.get('staff_Id').errors &&
         (angForm.controls['staff_Id'].dirty || angForm.controls['staff_Id'].touched)}">
           <label class="col-sm-2 control-label">Staff Id</label>
           <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="staff_Id" required #staff_Id />
              <span class="help-block" *ngIf="angForm.get('staff_Id').errors &&
              (angForm.controls['staff_Id'].dirty || angForm.controls['staff_Id'].touched)">
              <span *ngIf="angForm.controls['staff_Id'].errors.required">
                  Person Name is required.
              </span>
            </span>
           </div>
         </div>

         <div class="form-group row">
           <label class="col-sm-2 control-label">Address</label>
           <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="person_address" minlength="7" maxlength="50" #person_address />
             
           </div>
         </div>
         <!-- <div class="form-group row">
            <label class="col-sm-2 control-label">Date Of Birth</label>
            <div class="col-sm-8">
               <input type="text" class="form-control" formControlName="Person_dob" #Person_dob />
              
            </div>
          </div> -->
           <div class="form-group row" [ngClass]="{'has-error' : angForm.get('person_ContactNo').errors &&
          (angForm.controls['person_ContactNo'].dirty || angForm.controls['person_ContactNo'].touched)}">
            <label class="col-sm-2 control-label">Contact No</label>
            <div class="col-sm-8">
               <input type="text" class="form-control" formControlName="person_ContactNo" maxlength="10"  #person_ContactNo />
               <span class="help-block" *ngIf="angForm.get('person_name').errors &&
               (angForm.controls['person_ContactNo'].dirty || angForm.controls['person_ContactNo'].touched)">
               <span *ngIf="angForm.controls['person_ContactNo'].errors.required">
                   Person Contact is required.
             
              </span>
             </span>
            </div>
          </div> 
          
        </div>
        <div class="panel panel-footer">
            <div class="form-group">
                <button type="submit" (click)="addUser(person_name.value, person_email.value, staff_Id.value, person_address.value,person_ContactNo.value)"
                [disabled]="angForm.pristine || angForm.invalid" 
                class="btn btn-primary">Add User</button>
      
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
