<h3 style="margin-left: 40%;">{{title}}</h3>

<!-- <router-outlet></router-outlet> -->
<div class="split left">
    <app-table></app-table>
</div>

<div *ngIf="currentMode !== 'edit'" class="split right">
    <app-form></app-form>
</div>
<div *ngIf="currentMode == 'edit'" class="split right">
    <app-edit></app-edit>
</div>


