<!-- <button class="button btn-primary" style="margin-left: 70%;"(click)="goBack()">
  Go to All Users
</button> -->
<br /><br />

<div class="card">
  <div class="card-body">
    <form [formGroup]="editForm1" novalidate>
      <div class="panel panel-primary"style="margin-left: 10%;
      margin-right: 10%;">
        <!-- <button class="btn btn-primary" (click)="goBack()">Go to All Users</button>
        <br /> -->
        <div class="panel-heading">
           <h4>Update User</h4>
        </div>
        <div class="panel panel-body">
         <div class="form-group row">
           <label class="col-sm-2 control-label">Full Name</label>
           <div class="col-sm-8">
              <input type="text" class="form-control" (value)="person_name" formControlName="person_name"required #person_name />
            
          
           </div>
         </div>

         <div class="form-group row">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
               <input type="text" class="form-control"  (value)="person_email" formControlName="person_email"required [pattern]="emailPattern" #person_email />
              
           
            </div>
          </div>

          <div class="form-group row">
           <label class="col-sm-2 control-label">Staff Id</label>
           <div class="col-sm-8">
              <input type="text" class="form-control"  (value)="staff_Id"formControlName="staff_Id" required #staff_Id/>
             
           </div>
         </div>

         <div class="form-group row">
           <label class="col-sm-2 control-label">Address</label>
           <div class="col-sm-8">
              <input type="text" class="form-control"  (value)="person_address" formControlName="person_address"  minlength="7" maxlength="50" #person_address />
             
           </div>
         </div>

         <div class="form-group row">
           <label class="col-sm-2 control-label">Contact No</label>
           <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="person_ContactNo" maxlength="10"  #person_ContactNo />
             
           </div>
         </div> 
      
          
        </div>
        <div class="panel panel-footer">
            <div class="form-group">
                <button type="submit" (click)="updateUser(person_name.value, person_email.value, staff_Id.value, person_address.value,person_ContactNo.value)"
               class="btn btn-primary">Update User</button>
      
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
